#ECE 323 CPLD Board

#Clock inputs.

NET "clk4mhz"  LOC = "P1"   ; #    4      Mz clock
#NET "clk1khz"  LOC = "P44"  ; #    976.5625 Hz clock

#NET "gclk2"    LOC = "P43"  ; #    Mapped to pin 6 of J3 through resistor
                              #    Can be used as clock or I/O

#LEDs
NET "led<0>"  LOC = "P20"  ;  # LED0
NET "led<1>"  LOC = "P19"  ;  # LED1


#Pushbuttons
#NET "sw<0>"  LOC = "P34"  ; # SW0
#NET "sw<1>"  LOC = "P36"  ; # SW1

#Generic I/O
NET "io<27>" LOC = "P27" | PULLUP;  # J3 Pin 1
NET "io<28>" LOC = "P28" | PULLUP;  # J3 Pin 3
NET "io<29>" LOC = "P29" | PULLUP;  # J3 Pin 5
NET "io<30>" LOC = "P30" | PULLUP;  # J3 Pin 7
NET "io<31>" LOC = "P31" | PULLUP;  # J3 Pin 9
NET "io<32>" LOC = "P32";  # J3 Pin 11
NET "io<33>" LOC = "P33";  # J3 Pin 13
#NET "azSpeed" LOC = "P32";  # J3 Pin 11
#NET "elSpeed" LOC = "P33";  # J3 Pin 13

#Video Sync
NET "vsync" LOC = "P42";
NET "burst" LOC = "P41";
NET "field" LOC = "P40";
NET "csync" LOC = "P39";

#Video gates
NET "gate_b" LOC = "P38";
NET "gate_w" LOC = "P37";

#Other
#NET "az" LOC = "P5";
#NET "el" LOC = "P6";
#NET "emitter" LOC = "P2";
#NET "detector" LOC = "P3";